.ct_grid {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat($column-count, auto);

  $keys: "xs", "s", "m", "l", "xl";

  .ct_grid_col {
    grid-area: span 12 / span 12;
  }

  @each $key in $keys {
    @include breakpoint($key) {
      @for $i from 1 through $column-count {
        .ct_grid__#{$key}#{$i} {
          grid-area: span #{$i} / span #{$i};
        }
      }
    }
  }
}
