.ctb-codingtask {
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 1px 3px #eeeeee86;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    height: 30px;
    border-bottom: 1px solid lightgray;

    input {
      padding: 2px;
      outline: 0;
      width: 100%;
      text-align: center;
    }

    span {
      display: block;
      width: 100%;
      padding: 2px;
      position: relative;
      font-size: 1rem;
      font-weight: bold;

      i {
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
        font-size: 1.3rem;
      }

      &:hover i {
        display: block;
      }
    }
  }

  &__item {
    border-bottom: 1px dotted #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-top: 1px solid lightgray;

    button {
      width: 100%;
    }
  }
}
