.ctb-task {
  padding: 3px;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input {
    padding: 2px;
    outline: 0;
    width: 100%;
  }

  span {
    display: block;
    padding: 2px;
    width: 100%;
    position: relative;
    line-height: 1rem;

    i.ctb-task__delete,
    i.ctb-task__edit {
      position: absolute;
      display: none;
      font-size: 1.3rem;
      top: 0px;
    }

    i.ctb-task__delete {
      right: 0px;
    }

    i.ctb-task__edit {
      right: 1.5rem;
    }

    &:hover i.ctb-task__delete,
    &:hover i.ctb-task__edit {
      display: block;
    }
  }
}
