.container {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}

.pull-right {
  float: right;
}

span,
p {
  font-size: 0.8rem;
}

.disable-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
